# Coverage directories
coverage
.nyc_output

# scripts directory
/script
/scripts

# source directory
/src

# test directory
/test
/tests

# build-related files
.gitattributes
.czrc
.nvmrc
.nycrc
.releaserc
.travis.yml

# editor settings
.idea
.vscode
.editorconfig
